/* Root element for declaring Variables */
:root {
  --primary-light: #ddd;
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --secondary-dark-hover: #4a4f57;
  --secondary-dark-active: #5b5f68;
  --header: #111720;
  --primary-yellow: #fac650;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--primary-light);
  font-family: sans-serif;
  background-color: var(--primary-dark);
  /* line-height: 1.6; */
}
/* HEADER */

.header {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  background-color: var(--header);
  color: var(--primary-yellow);
}
.title {
  font-size: 32px;
  font-family: "Press Start 2P", cursive;
}
/* !Header End here */

/* Main */
div.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Scoreboard  */
.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; /* TB LR **/
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.score-info {
  margin: auto;
}
.score-message {
  padding: 0px 40px;
}
.score-container {
  display: flex;
  margin: 1.3rem auto; /* TB LR **/
  gap: 50px;
}
.score-box {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
}

div.sign {
  font-size: 5rem;
  margin-bottom: 10px;
}
.result {
  opacity: 0.5;
}

.score{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}
/* !Score board end here */

/* Butoon chices */
.buttons {
  display: flex;
  margin: 1.3rem; /* TB LR */
  gap: 25px;
}
.btn {
  border-radius: 10px;
  background-color: var(--secondary-dark);
  width: 150px;
  height: 150px;
  transition: 100ms;
}
.btnActive:hover {
  background-color: var(--secondary-dark-hover);
}

.btnActive:active {
  background-color: var(--secondary-dark-active);
  transform: scale(1.2);
}
/* !Button end here  */

/* opacity class for injection with JS in Computer Sign and User sign*/
.opacity {
  opacity: 1;
  transform: scale(1.1);
}

/* Modal CSS */
.modal {
  z-index: 1;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50% ,-50%) scale(0); /* box shift according to it's size */
  text-align: center;
  width: 300px;
  max-width: 60%;
  padding: 20px;
  border: 2px solid var(--primary-yellow);
  background-color: var(--header);
  border-radius: 10px;
  transition: 200ms ease-in-out;
  user-select: none;
} 

#endgameMsg{
  font-size: 22px;
  font-family: "Press Start 2P", cursive;
  font-weight: 700;
  color: var(--primary-yellow);
}
.resetBtn{
  padding: 15px 60px;
  margin-top: 30px;
  width: max-content;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid var(--primary-yellow);
  background-color: var(--primary-dark);
  color: var(--primary-light);
  border-radius: 10px;
  cursor: pointer;
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
  /* !pointer-events: none; This property is basically does is allow us to click when overlay is active which is not required*/
}
.overlay.active {
  display: block;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}